@import '../node_modules/antd/dist/antd.less';
@import '../node_modules/tailwindcss/dist/tailwind.min.css';
@import '../node_modules/tailwindcss/dist/components.min.css';
@import '../node_modules/tailwindcss/dist/utilities.min.css';

@primary-color: #000000;

.hide-no-hover > .show-when-hover {
  display: none;
}

.hide-no-hover:hover > .show-when-hover {
  display: block;
}